<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <script async src="../../functions/index.js" type="module"></script>
  </head>
  <body>
    <!-- top navigation bar -->
    <nav class="navbar">
      <ul class="navList">
        <li><a href="../src/index.html">Todo</a></li>
        <li><a href="./home.html">Home</a></li>
        <li><a href="./notes.html">Notes</a></li>
      </ul>
    </nav>
<!-- Login/Sign up form -->
    <form action="POST" class="form">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email :"
        required
      />
      <input
        type="password"
        name="pass"
        id="pass"
        placeholder="Password :"
        required
      />
      <button type="submit">Log In</button>
      <button type="submit">Sign Up</button>
    </form>

    <section id="welcome">
      <h1>Welcome to NotiFire</h1>
      <form action="POST">
        <button type="submit">Log Out</button>
      </form>
    </section>

    <section id="contact">
      <div class="contactInfo">
        <div class="dev">
          <span>Developed by Prashant Amoli</span>
          <span>Icon<a href="mailto:prashantamoli@outlook.com">Email</a></span>
          <span
            ><a href="link:https://www.linkedin.com/in/prashantamoli/"
              >LinkedIn
            </a></span
          >
        </div>

        <form action="post" method="post" class="form">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Full Name :"
            required
          />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email :"
            required
          />
          <textarea
            name="feedback"
            id="feedback"
            cols="30"
            rows="4"
            placeholder="Message :"
            required
          >
Subject : </textarea
          >
          <button type="submit">Send</button>
        </form>
      </div>
    </section>

    <footer>
      <h3>Made with &#9829, JS/TS, & Firebase🔥</h3>
      <p>
        © 2020
        <a href="http://linkedin.com/in/prashantamoli/">Prashant Amoli</a>
      </p>
    </footer>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/8.2.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script defer src="/__/firebase/8.2.1/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="/__/firebase/8.2.1/firebase-auth.js"></script>
    <script src="/__/firebase/8.2.1/firebase-firestore.js"></script>
  </body>
</html>
